{% extends "base.html" %}

{% block content %}
  <h2>Time to {{form_name}}</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>
      <input type="submit">      
    </form>
    <a href="/blog/{{post.key().id()}}"><button>Cancel</button></a>
    

{% endblock %}
