{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}

  <div class="action-area">
  <ul>
  	<li><span>{{post.like_count}}</span> Likes</li>
    {% if post.author.key() != user.key() %}
    	<li><a class="login-link" href="/blog/like/{{post.key().id()}}">Like</a></li>
    {% else %}
    	<li><a class="login-link" href="/blog/edit/{{post.key().id()}}">Edit</a></li>
    	<li><a class="login-link" href="/blog/delete/{{post.key().id()}}">Delete</a></li>
    {% endif %}
  </ul>
  </div>

  	<form method="post">
      <label>
        <div>Comment: </div>
        <input type="text" name="comment">
      </label>
      
      <div class="error">{{error}}</div>

      <input type="submit" id="submit-button" >
	</form>

	<div class="comments">
	<hr>
	<div>List of all comments:</div>
	{% for c in comments %}
		<div>{{c.comment_text}}</div>>
		{% if c.commented_by.key() == user.key() %}
			<a class="login-link" href="/blog/editComment/{{c.key().id()}}">Edit Comment</a>
			|
    		<a class="login-link" href="/blog/deleteComment/{{c.key().id()}}">Delete Comment</a>
    	{% endif %}
    	<div></div>
    	<br>
	{% endfor %}


	</div>

{% endblock %}
